<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Data Visualization</title>
</head>
<body>
  <form action="/data" method="post">
    <input type="submit" value="Data">
  </form>

<h1>Hourly Visitors</h1>
<img src="/static/hourly_visitors.png" alt="Hourly Visitors">

<h1>Gender Distribution</h1>
<img src="/static/gender_distribution.png" alt="Gender Distribution">

<h1>Age and Gender Distribution</h1>
<img src="/static/age_gender_distribution.png" alt="Age and Gender Distribution">

</body>
</html>
