<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Data</title>
</head>
<body>

<div>
    <input type="button" value="MAIN" onclick="location.href='/'">
</div><br>

<div>
  <table>
    <tr>
      <td><h4>Test Table</h4></td>
      <td align="right" width="150px">
        <form action="/create_table" method="post">
          <input type="submit" value="Create Table">
        </form>
      </td>
      <td align="right" width="150px">
        <form action="/delete_table" method="post">
          <input type="submit" value="Delete Table">
        </form>
      </td>
    </tr>
    <tr>
      <td><h4>Test Data</h4></td>
      <td align="right" width="150px">
      </td>
      <td align="right" width="150px">
        <form action="/delete_data" method="post">
          <input type="submit" value="Delete Data">
        </form>
      </td>
    </tr>
  </table>
</div>

<div>
  <h4>Create Test Data</h4>
  <form action="/create_data" method="post">
  <table>
    <tr>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Start Time</td>
      <td>End Time</td>
    </tr>
    <tr>
      <td><input type="date" name="start_date"></td>
      <td><input type="date" name="end_date"></td>
      <td><input type="time" name="start_time"></td>
      <td><input type="time" name="end_time"></td>
    </tr>
    <tr>
      <td>
        Number of Entries
      </td>
      <td>
        <input type="number" name="num_entries">
      </td>
      <td></td>
      <td><input type="submit" value="Create Data">
      </td>
    </tr>
  </table>
  </form>
</div>

</body>
</html>
