<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<form action="/data" method="post">
    <input type="submit" value="Data">
</form>
</div><br>

<div>
    <form action="/daily_visitors" method="post">
        <table>
            <tr>
                <td>
                    <label for="start_date">Start date</label><br>
                    <input type="date" id="start_date" name="start_date">
                </td>
                <td>
                    <label for="end_date">End date</label><br>
                    <input type="date" id="end_date" name="end_date">
                </td>
                <td>
                    <br>
                    <input type="submit" value="Data">
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>